<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>
Методика поиска в интернете


Оглавление


Раздел 1. Поиск товаров и услуг


1.1. Формулировка запроса 
1.2. Последовательные запросы 
1.3. Поиск по фото 
1.4. Сложные запросы 
1.5. Отсеивание мусора 
1.6. Приемы, которые помогут сэкономить время
Предисловие. О выборе поисковика.

Если идет поиск по товарам и услугам в российском сегменте, пользуемся Yandex. В остальных случаях Google предпочтительнее. Не лишним будет вести поиск по двум системам сразу, либо воспользоваться метапоисковыми системами (о них позже).


1.1 Формулировка запроса

В случае, когда мы точно знаем, что ищем, указываем как можно больше конкретной информации – артикул, размер, цвет, название; а вот лишние частицы речи и знаки препинания можно отбросить, они никак не повлияют на результат поиска, только зря потратим драгоценные секунды на то чтобы их напечатать.

Пример. Предположим, что мы ищем колесные диски на Audi A8, 20 радиуса. Тогда оптимальный запрос будет выглядеть как: «диски Audi A8 R20». Отбросили предлог «на» - для поисковика он бесполезен, слово «радиус» заменили на «R», общеизвестное обозначение, если использовать его результаты поиска будут более емкие.

Если нас интересует ценовая политика, то, при поиске товаров в запросе указываем слово «цена», при поиске услуг - слово «стоимость». Не смотря на то, что во многих случаях поисковики воспринимают их как слова-синонимы, при правильном использовании результаты поиска будут точнее и их будет больше.

Так, в нашем примере рекомендуется написать «диски Audi A8 R20 цена» - т.к. диски это товар.

Также, важно обращать внимание на язык написания. Безусловно, если в запросе написать «ауди а8» кириллицей, это не помешает нам получить нужный результат, но при написании латиницей: «Audi A8», результатов будет больше.


Оглавление

1.2 Последовательные запросы.

Не так часто мы с самого начала готовы точно сформулировать запрос. Поэтому редактируем его последовательно, основываясь на результатах поиска.

Пример. Запрос «диски Audi A8 R20» выдает в основном магазины с репликами, а нам нужны оригинальные. Не тратим время и сразу же меняем запрос, добавив слово «оригинал».

Предположим, что мы нашли нужные нам товар. Но нам нужно сравнить цены, а большинство ссылок всё еще ведут совсем не то, что нам нужно. Поэтому, как только мы в первый раз натыкаемся на нужный нам товар, тут же извлекаем как можно больше информации о нем и вбиваем эту информацию в поисковый запрос.

Пример. По запросу «диски Audi A8 R20 оригинал» нам попался сайт с артикулом интересующего диска. Добавляем этот артикул в поисковый запрос и все результаты теперь максимально точны.

Иногда все информацию можно получить из краткого описания под ссылкой, и после беглого обзора, уточнять запросы на основе неё, что неплохо экономит время.


Оглавление

1.3 Поиск по фото.

Ситуация 1 – у нас есть фото того, что нам нужно. Тогда поиск максимально упрощается, просто заходим в раздел «Картинки», жмем на кнопку «поиск по картинке» (находится справа в строке поисковика) и загружаем имеющееся фото. В результате получаем все ссылки в которых встречается такое изображение, либо похожие на него, и соответственно вся информация об объекте поиска.

Ситуация 2 – мы представляем, что нам нужно, но смутно. По первоначальному запросу сразу же открываем вкладку картинки, находим то, что нас интересует, переходим по ссылке на которую ведет картинка. Там собираем всю необходимую информацию об объекте и возвращаемся к поиску на её основе.

Пример. Быстро просматриваем картинки по запросу «диски Audi A8 R20 оригинал», находим нужные нам диски, переходим по ссылке, находим артикул диска и дальше ищем уже по артикулу.


Оглавление

1.4. Сложные запросы.

Поисковики позволяют максимально точно формулировать запросы, используя свой встроенный язык.

По умолчанию, поисковые системы ищут все формы слова, указанные в запросе. Например, ищем: «диски», а в результатах будут ссылки содержащие все формы слова: «дикОВ», «дискА», «диск» и т.д. Если необходимо произвести поиск по слову только в заданной форме, то необходимо добавить знак «!» перед словом. Например: по запросу «!диск» будут найдены документы со словом «диск» в заданной форме. Действует только в Яндексе.
Оператор « + »

Поиск документов, в которых обязательно присутствует выделенное слово. Например, мы хотим, чтобы поиск выдавал информацию об оригинальных дисках. Тогда по запросу «диски Audi A8 +R20 +оригинал» будут найдены документы, в которых обязательно содержатся слова «R20» и «оригинал». Между знаком + и словом не должно быть пробела! Действует только в Яндекс.
Оператор « - »

Поиск документов, в которых отсутствует выбранное слово. Например, мы хотим, чтобы поиск не выдавал ссылки на страницы, в которых дается информация о репликах на диски. Тогда достаточно записать запрос как: «диски Audi A8 R20 –реплика». Между знаком - и словом не должно быть пробела! Действует в Яндекс и в Google.
Оператор “ “ (кавычки).

Очень часто, в результатах поиска мы видим страницы, в которых наши ключевые слова используются в разных частях документа, к примеру на одном и том же сайте может оказаться две разных статьи: одна про автомобили Audi, а вторая про диски 20 радиуса от BMW. Однако, если поместить слово или фразу в кавычки, в результатах поиска будут содержаться только те страницы, в которых все эти слова идут в том же порядке, в котором они указаны в кавычках.
Пример: "диски AUDI R20". Действует в Яндекс и в Google.

Помимо вышепереисленных, существует ряд других команд, но их практичность вызавает сомнения, поэтому они не включены в данное руководство. Если запоминать все эти операторы желания нет, тогда можно, в качестве альтернативы, воспользоваться встроенным расширенным поиском Google.


Оглавление

1.5 Отсеивание мусора - на чем не стоит останавливать взгляд

Проплаченные рекламные ссылки GoogleAdWords и Яндекс.Директ

Засоряют поиск, в связи с чем предпочтительно их сразу же распозновать и игнорировать. Распознаются легко, по небольшой, выделенной желтым цветом надписи "реклама" . Исключение: могут быть полезны в тех случаях, когда идет поиск самого экономичного варианта без упора на качество, т.к. новые, активно продвигающиеся компании могут предложить конкурентноспособную цену Рекламные ссылки так же легко отделить от основных, зная, что в Google это, как правило, первая и три последних ссылки в выдаче результатов; в Яндексе - первые три и четыре последних ссылки.

Сайты-агрегаторы

Такие сервисы как blizko.ru, tiu.ru, aport.ru и другие - это сайты, предоставляющие информацию о товарах и услугах, которые имеются в различных виртуальных и реальных магазинах, а также агрегируют, группируют информацию об объектах. Попадают в список ссылок по нашему забросу на первую или вторую страницу поиска. В зависимости от наших целей, могут как мешать продуктивному поиску, так и быть полезными. Заметив одну из вышеупомянутых ссылок, стоит воздержаться от перехода по ней, т.к. представленная информация зачастую может оказаться недостоверной или устаревшей, да и найти ее среди буйства рекламных баннеров будет затруднительно.


Оглавление

1.6 Приемы, которые помогут сэкономить время.

Беглый взляд на превью

Очень часто, чтобы понять стоит ли открывать ссылку, достаточно просто пробежаться по превью. Если в описании искомые слова находятся в разных предложениях, или из трех ключевых слов в описании есть только одно - с вероятностью 95% ссылка окажется бесполезной.
Поиск на странице по ctrl + f

Возможна еще одна неприятная ситуация: поисковик выдал ссылку, судя по краткому описанию это как раз то, что нам нужно. Переходим по ссылке, попадаем на сайт, но...на сайте нас встречает огромный объем информации из которого с наскока не удается найти нужную нам. В этом случае достаточно открыть поиск по странице сочетанием клавиш ctrl + f (cmd + f в Mac OS) и еще раз ввести ключевые слова.
Мгновенный поиск по выделенной строке

Предположим, мы просматриваем информацию по дискам Audi на одном из сайтов, и тут нам встречается фраза, значение которой нам бы хотелось узнать подробнее, например "вылет диска". Самый быстрый способ сделать это, выделить фразу, нажать на выделенное правой кнопкой мыши и выбрать опцию " Искать на Google "вылет диска" ".