<footer class="footer">
  <small>
    EstimCheck by <a href="http://vk.com/solodilovalex"> Solodilov Alexander </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Новости</a></li>
    </ul>
  </nav>
</footer>